<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #1 - Use a loop to display job results in a table. -->
    <th:block th:each="job : ${jobs}">
        <table class="job-listing">
            <tr>Id: <tr th:text="${job.getId()}"></tr></tr> <br>
            <tr>Name: <tr th:text="${job.getName()}"></tr></tr> <br>
            <tr>Employer: <tr th:text="${job.getEmployer()}"></tr></tr> <br>
            <tr>Location: <tr th:text="${job.getLocation()}"></tr></tr> <br>
            <tr>Position Type: <tr th:text="${job.getPositionType()}"></tr></tr> <br>
            <tr>Skill: <tr th:text="${job.getCoreCompetency()}"></tr></tr> <br>

        </table>
    </th:block>

</div>

</body>
</html>